VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_COS_BUCKET=kanfang-1377314373
VITE_COS_REGION=ap-shanghai
VITE_COS_CREDENTIAL_PATH=/api/cos-credentials

COS_SECRET_ID=
COS_SECRET_KEY=
COS_BUCKET=kanfang-1377314373
COS_REGION=ap-shanghai
COS_CREDENTIAL_PORT=8787
